[Unit]
Description=edit and copy pix to webserver

[Service]
Type=simple
User=st33v
# prefix call to script with '-' to accept nonzero ('failed') exit status
# I woulod prefer to know how to prevent the 'failure' in the first place.
ExecStart=-/usr/local/bin/editpix.sh

